﻿@model miniERPmobile.Models.odbiorca

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie odbiorcy</h2>

<h3>Czy jesteś pewien że chcesz usunąć odbiorcę?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.powiat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.powiat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gmina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gmina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kodpoczt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kodpoczt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poczta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poczta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nrdomu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nrdomu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rabat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rabat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input class="btn btn-primary" type="submit" value="Usuń!">		
            
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
