﻿@model IEnumerable<miniERPmobile.Models.odbiorca>

@{
    ViewBag.Title = "Index";
}

<h2>Lista odbiorców</h2>


<div class="przycisk">
         <button type="button" class="btn btn-primary btn-sm">
            
                @Html.ActionLink("Dodaj nowego odbiorcę", "Create", new {@style="color:#ffffff;" }, new {@style="color:#ffffff;" }) 
            
        </button>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.powiat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gmina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kodpoczt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poczta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nrdomu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rabat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.powiat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gmina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kodpoczt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poczta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nrdomu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rabat)
        </td>
        <td>

			
            <button type="button" class="btn btn-primary btn-sm"> @Html.ActionLink("Edytuj", "Edit", new { id=item.odbiorca_id }, new {@style="color:#ffffff;" }) </button>
            
            <button type="button" class="btn btn-primary btn-sm"> @Html.ActionLink("Usuń", "Delete", new { id=item.odbiorca_id }, new {@style="color:#ffffff;" }) </button>
        </td>
    </tr>
}



</table>
