﻿
@{
    ViewBag.Title = "Index";
}

<h1 class=" text-center ">
	<div>
	<button type="button" class="btn btn-primary btn-lg btn-block"> @Html.ActionLink("Lista odbiorców", "Index", "odbiorca", new { area = "" }, new { @class = "navbar-brand" }) </button>
	<button type="button" class="btn btn-primary btn-lg btn-block"> @Html.ActionLink("Dodaj nowego odbiorcę", "Create", "odbiorca", new { area = "" }, new { @class = "navbar-brand" }) </button>
	</div> 
</h1>

@using (Html.BeginForm("Index", "Home"))
{
	

	

}
